{% extends "main/header.html" %}

{% block content %}
  <div class="row">
    {% for man, firstproduct in first_products.items %}
      <div class="col s12 m6">
        <a href="{{firstproduct}}", style="color:#000">
          <div class="card hoverable">
            <div class="card-content">
              <div class="card-title">{{man.product_manufacturer}}</div>
              <p>{{man.manufacturer_summary}}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
